[2020-10-07 13:34] vepor opened #2309 "Refactor Modal component to use only React hooks"
`Modal` component is one of the last that uses React Class component.
This complicates other improvements we want to make to the Modal component, as general API refactor, animations etc. and therefore the best would be to refactor it to use only the React hooks.

[2020-10-07 13:40] vepor opened #2310 "Fix breadcrumbs spacing inconsistency between implementation and design specification"
There is inconsistency between React implementation and design specification of this component.
There should be used spacing token `spaceXXSmall ` for the space between chevrons and anchors and **not** `spaceXSmall `.
![breadcrumbs_spacing](https://user-images.githubusercontent.com/7254437/95338559-58634100-08b3-11eb-96d3-98ecf3795b68.png)

[2020-10-07 13:50] zurda commented on #2309
Hi @vepor , I'd like to help out with this if it's up for grabs?

[2020-10-07 15:19] MuhammadTanveer94 commented on #2309
Hi I would like to do this @vepor ?

[2020-10-07 15:21] MuhammadTanveer94 commented on #2307
Hi i would like to do this @vepor ?

[2020-10-07 20:40] simonhoyos commented on #2308
@vepor I can help with this one

[2020-10-08 07:47] vepor commented on #2310
Fixed in #2311.

[2020-10-08 07:47] #2310 closed

[2020-10-08 08:34] vepor commented on #2309
Hello @zurda, it's up for grabs, definitely! 🙂 We will be more than happy to have it done by you 🙂

[2020-10-08 08:35] vepor commented on #2308
Hey @simonhoyos 👋 , feel free to do so! We will be more than glad to have it done 🙂

[2020-10-08 08:36] vepor commented on #2307
Hi @MuhammadTanveer94 👋 , feel free to do it! 🙂

[2020-10-08 21:18] simonhoyos commented on #2308
Hi @vepor,

Here are my findings so far about this issue:

1. When checking this component in storybook it is working correctly. The reason for this is that the padding is being set within the suffix prop

[code]

2. Adding the following lines to the `Suffix` component fixes the problem, but it changes the behavior of the `ButtonLink suffix`:

[code]

**Current ButtonLink state:**
![image](https:/

[2020-10-09 10:45] vepor opened #2318 "Add react-axe as plugin to Storybook"
Because of a11y reasons, it would be great to add `react-axe` as accessibility checker for both the production and development build.

[2020-10-09 13:40] sanskar-p commented on #2318
Hi @vepor, I'd like to try my hands at this issue. I'm planning on referring to [this](https://web.dev/accessibility-auditing-react/) link. What do you think?

[2020-10-09 18:35] vepor commented on #2318
Hey @sanskar-p 👋

We are already using `eslint-plugin-jsx-a11y` for the `@kiwicom/orbit-components`, but feel free to get your hands on `react-axe` and integrate it with `storybook`! 🙂

[2020-10-10 07:23] sanskar-p commented on #2318
@vepor, can you give me some advice on how to do that?

[2020-10-12 12:55] vepor commented on #2318
What we want to do here is to add the `react-axe` to be loaded with the storybook.
This can be easily implemented into `[preview.js](https://github.com/kiwicom/orbit/blob/master/packages/orbit-components/.storybook/preview.js)` file.

It can be implemented as [a addon](https://github.com/storybookjs/storybook/tree/master/addons/a11y#getting-started) or just used with [normal import](https://github

[2020-10-12 12:57] vepor commented on #2308
Thanks a lot @simonhoyos! 🙂

I don't think that we want to implement a change for the ButtonLink. Therefore could you please a PR that will fix mentioned example, that is currently wrong? 🙏 It should be [this file](https://github.com/kiwicom/orbit/blob/master/packages/orbit-components/src/InputField/__examples__/SUFFIX.js).

[2020-10-12 16:55] silvenon opened #2327 "Enforce with ESLint that all types should be read-only and exact"
Our convention for Flow and TypeScript is to write exact and read-only types, but nothing is enforcing this, so we definitely forgot to do this in some places. This can be solved with ESLint (TypeScript is already exact, so there we just need read-only).

[2020-10-12 22:51] simonhoyos commented on #2308
Great! I'll start working on that ASAP

[2020-10-12 23:29] aalises commented on #2327
I can take this: `typescript-eslint` has the `prefer-readonly-parameter-types` rule. (https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-readonly-parameter-types.md), and for `private` members. (https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-readonly.md)

I don't know if that's wha

[2020-10-13 08:55] silvenon commented on #2327
Thanks! For TypeScript we only need `readonly`, and would you be willing to enforce Flow as well via [`require-exact-type`](https://github.com/gajus/eslint-plugin-flowtype#eslint-plugin-flowtype-rules-require-exact-type) and [`require-readonly-react-props`](https://github.com/gajus/eslint-plugin-flowtype#require-readonly-react-props)? It appears that the Flow plugin only supports enforcing readonl

[2020-10-13 10:18] #2305 closed

[2020-10-13 11:16] CollierCZ commented on #2308
@vepor, you think it's the correct behavior to force people to add custom styling for any use of suffix? It seems to me that a much more sustainable solution would be adjusting the [styling that is a part of InputField](https://github.com/kiwicom/orbit/blob/master/packages/orbit-components/src/InputField/index.js#L184). It could include different styling for different suffixes, but asking people t

[2020-10-13 12:14] vepor commented on #2308
Sadly, it's the official way how to do it for a long period of time.

I'm afraid that we can't simply put a condition to the `Suffix` component as it could lead to more problems than fixes. And in the end, it would a breaking change for a lot of implementation. Because external contributors can't simply validate if the fix works properly I would like to do it in a separate ticket, our of the scope

[2020-10-14 07:37] sanskar-p commented on #2318
@vepor, will it work to just insert this codeblock into `preview.js`?
[code]
Found it [here](https://github.com/dequelabs/react-axe#initialize-the-module)

[2020-10-14 09:14] vepor commented on #2318
Yes, it should @sanskar-p 🙂

Also it seems that `react-axe` is deprecated, so it would be better to use `@axe-core/react` instead, so we will get updates in the future.

[2020-10-14 16:05] aalises commented on #2318
@sanskar-p also, you can use `ES6` syntax, e.g.

[code]

[2020-10-15 06:45] silvenon opened #2344 "Test whether libdefs contain all exports from orbit-compnents/src/index.js"
The problem is it's possible to forget to add a new export to [`orbit-components/src/index.js.flow`](https://github.com/kiwicom/orbit/blob/ff7dce8185d198ae847a3330287ab75dc5837f2b/packages/orbit-components/src/index.js.flow) and [`orbit-components/src/index.d.ts`](https://github.com/kiwicom/orbit/blob/ff7dce8185d198ae847a3330287ab75dc5837f2b/packages/orbit-components/src/index.d.ts) (that goes for

[2020-10-15 06:59] silvenon opened #2345 "Prohibit usage of global React Flow types (e.g. React$Node)"
Global React Flow types are never mentioned in the Flow documentation, which strongly suggests that they don't like people using them. Also, using them in Orbit apparently caused some problems for others, so we should definitely stop using them and prohibit their usage via ESLint. However, I'm not aware of any ESLint rule that can do this, maybe there is one, I haven't thoroughly checked, but in c

[2020-10-15 07:05] silvenon opened #2346 "Remove code blocks from visual regression testing"
We're using [Loki](https://www.npmjs.com/package/loki) for visual regression testing. Currently our screenshots include code blocks, which is a bit problematic because it increases the number of false positives. When we change the code a bit but the output of the component hasn't changed, that's still being treated as a visual regression, which slows down publishing a new release. It would be grea

[2020-10-15 07:09] silvenon opened #2347 "Make the ESLint config more DRY"
Currently our ESLint config for JavaScript (Flow) and TypeScript are strictly separated, and there is not only a lot of repetition, but even differences between the two. We should extract the common parts of the configuration and `eslintJS.js` and `eslintTS.js` should strictly contain config related to Flow and TypeScript respectively, while everything else should be in `eslintCommon.js` that both

[2020-10-15 07:11] silvenon opened #2348 "Prohibit use of .only() in Jest tests via ESLint"
`eslint-plugin-jest` has the rule to prohibit the use of `.only()`, we should use it. It would probably be best to do this after #2347, but it's fine either way.

[2020-10-15 07:19] mainframev commented on #2318
Also check this [addon-a11y](https://www.npmjs.com/package/@storybook/addon-a11y). It has `axe` under the hood

[2020-10-15 15:02] #2306 closed

[2020-10-15 17:49] #2348 closed

[2020-10-16 09:28] #2308 closed

[2020-10-16 11:58] tbergq commented on #2318
This is probably the best choice 🙂 It seems to be better adapted for storybook.

[2020-10-16 20:11] vepor commented on #2309
Hello @zurda, any update here? 🙂 If you won't have time to create PR for this issue, please let me know. 🙏

[2020-10-16 20:11] vepor commented on #2307
Hello @MuhammadTanveer94 , any update here? 🙂 If you won't have time to create PR for this issue, please let me know. 🙏

[2020-10-16 20:25] zurda commented on #2309
Hi @vepor, apologies for the delay.
This is mostly done but I wanted to take a look at a few more life cycle methods refactoring before submitting.
I'll be sure to submit the pr this weekend if that's OK

[2020-10-16 20:31] vepor commented on #2309
No problem at all @zurda, just wanted to know the status 🙂

[2020-10-17 13:09] aalises commented on #2304
@vepor any idea why are we putting

[code]

into `.gitignore`?

[2020-10-17 13:32] vepor commented on #2304
It's being autogenerated, because of e.g. `type Name`, so we don't have to maintain it in multiple files, when we need to add some new Illustration.

[2020-10-17 13:34] vepor commented on #2304
You can alter the `FLOW_TEMPLATE.flow` if you want to make some changes to the generated file. You can generate it then with `build` script.

[2020-10-17 15:16] kouloughli-hemza opened #2359 "New accordion Component docs"
Hello,
im happy to see more components added , i was reading the docs about accordion component and just found a tiny error in the docs.
the prop expanded of type bool with default property of 0
i think it's better to have false instead ,
thank You

[2020-10-17 18:20] vepor commented on #2359
Could you prepare fixing pull request for that @kouloughli-hemza, please? 🙏

[2020-10-18 12:19] kouloughli-hemza commented on #2359
#2362

[2020-10-18 17:41] zurda commented on #2309
Hi @vepor , thanks for the reminder and unfortunately I haven't managed to get this to a PR state and I've released it so I'm not blocking the issue for others

[2020-10-19 06:48] silvenon opened #2364 "Tweak checking icons"
Checking icons implemented in #2332 is awesome, but I missed three requirements for it:

1. it should not run when `require`d, only when run with `node`
   - this is tricky, I don't know what to do here other than create our own development CLI using a tool like [`yargs`](http://yargs.js.org/), as a separate private package
2. it should only run in `pre-commit` and on CI
   - we should remove it f

[2020-10-19 10:12] silvenon opened #2368 "Avoid unnecessary version bumps of @kiwicom/babel-plugin-orbit-components"
`@kiwicom/babel-plugin-orbit-components` always gets a version bump because it has `@kiwicom/orbit-components` in `devDependencies`. It will probably be enough to remove it, otherwise we should consider removing all `devDependencies` from both packages.

Success can be checked by running `yarn release`, then seeing whether the version is unjustifiably bumped.

lerna/lerna#1737

[2020-10-19 12:26] vepor commented on #2309
Thanks @zurda anyway! Looking forward to maybe different contributions you might make 🙂

[2020-10-19 17:22] #2359 closed

[2020-10-20 04:08] yencolon commented on #2347
Hi, I think I can help you with this!

[2020-10-20 11:58] silvenon commented on #2347
That would be very much appreciated! Let me know if you need any help 😉 The configs have most likely diverged significantly, so when in doubt, prefer the rules that are in `eslintJS.js`.

[2020-10-20 13:15] yencolon commented on #2347
Of course, assign this to me 👍

[2020-10-21 08:25] vepor opened #2378 "Add offset property to Popover"
Currently, the Popover is rendered exactly on the bottom position of parent component – that triggers the render of it.

Because of design purposes, the best would be to add property that would allow developers to easily tweak the exact position, probably in pixels.

The usage would look like this:
[code]

It need to be tested properly with usage of `preferredAlign` and `preferredPosition`.
 

 

[2020-10-21 08:50] #2304 closed

[2020-10-21 08:55] vepor opened #2379 "Create guide how to extract types from props"
As discussed in #2358, we don't have to explicitly export and document `types`.

Instead of it, we can take leverage of utility types that Typescript and Flow offers. See https://github.com/kiwicom/orbit/pull/2358#issuecomment-712224827

That means we can just create official guide how to use it and put it on orbit.kiwi.

[2020-10-21 09:26] sampi commented on #2345
I'll take this real quick ;)

[2020-10-21 09:51] #2327 closed

[2020-10-21 12:21] #2345 closed

[2020-10-21 12:22] sampi commented on #2368
I'll take a look, if it can be done quickly

[2020-10-21 13:35] silvenon opened #2384 "Move all devDependencies to root package.json"
Bumping `devDependencies` also bumps the version, as we've found out, so it's most likely best to move them all to the root `package.json`. The added benefit is that way we avoid having to bump the same development dependency in multiple places. I think it will be easier to manage the monorepo this way.

[2020-10-21 13:39] #2368 closed

[2020-10-21 15:43] ggolubic commented on #2307
Hey, I can take it if @MuhammadTanveer94 won't have time :)

[2020-10-21 15:59] MuhammadTanveer94 commented on #2307
Sure you can and sorry from my side i am too buzy and don't have time to do this

Sent from Yahoo Mail on Android

  On Wed, Oct 21, 2020 at 8:43 PM, Gabrijel Golubić<notifications@github.com> wrote:

Hey, I can take it if @MuhammadTanveer94 won't have time :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-21 17:24] sampi commented on #2346
I'll take a look

[2020-10-22 10:08] #2384 closed

[2020-10-22 13:23] #2346 closed

[2020-10-23 05:23] yencolon commented on #2347
Hi @silvenon, I'm currently working on this, but I am a little bit confused, the issue description says that there's 'a lot of repetition' in both files, but I don't see it. Maybe I did not get the main idea. Can you help me?

[2020-10-23 07:51] #2379 closed

[2020-10-23 09:48] silvenon commented on #2347
That's true, it's kinda standalone currently, but try applying to it everything that isn't specifically Flow-related so we see what happens. When we start adding TypeScript files at some point in the future, we want to have the same ESLint support as we did for Flow files.

[2020-11-03 10:04] #2307 closed

[2020-11-05 16:46] #2309 closed

[2020-12-13 14:49] straxico opened #2578 "inline component "as" type"
https://github.com/kiwicom/orbit/blob/0fdff4fb9bb37d7d540c069f38de5de670f8fd84/packages/orbit-components/src/Inline/index.d.ts#L30

why don't use `keyof JSX.IntrinsicElements` for type?

[2020-12-14 12:59] straxico opened #2585 "inline PropObject type"
An index signature parameter type cannot be a union type. Consider using a mapped object type instead

https://github.com/kiwicom/orbit/blob/0fdff4fb9bb37d7d540c069f38de5de670f8fd84/packages/orbit-components/src/Inline/helpers.js#L49

for fix
[code]

[2021-01-05 09:32] skmohammadi opened #2632 "Feature request: allow fixed ModalHeader"
It seems `fixedFooter` property cause `ModalFooter` to be fixed but, in mobile `ModalHeader` do not get fixed position.

## Expected Behavior

`ModalHeader` be fixed in mobile when scrolling down.

## Current Behavior

only `ModalFooter` has fixed position on scrolling.

## Context (Environment)

I am using React 17 with NextJS.

[2021-01-08 01:17] rohanpahwa27 opened #2642 "Modal overlay not overlaying other kiwi components"
Use this **ONLY** for reporting bugs. For requesting new features check [this link](https://orbit.kiwi/request-an-enhancement/).

I've been trying to use a modal, but the other kiwi components I'm using do not have the overlay going on them.

## Expected Behavior

The inputfield and button should not be active

## Current Behavior

Right now, the overlay works on everything but the inputField and

[2021-01-08 10:20] vepor commented on #2642
Hello @rohanpahwa27 👋

Could you provide us with some source code, so we can investigate the issue?

[2021-01-27 09:47] alfredone270895 opened #2691 "Accordion not opening"
## Expected Behavior
Open section on clicking the accordion

## Current Behavior
When i click on open after orbit installation via npm accordion do not open i also try it on CodeSandbox and is
not working.

import ReactDOM from "react-dom";
import React from "react";

import {Accordion,AccordionSection,Stack,Text,Card, CardSection, Heading } from "@kiwicom/orbit-components/";

const App = () => (

[2021-01-27 10:05] vepor commented on #2691
Hello @alfredone270895 👋

The `Accordion` component is controlled component and therefore there is requirement to use your own state in which you have the stored the `id` of expanded sections. We want to provide more flexibility when comes to handling the state of it – you can have more buttons that interacts with the `Accordion`.

Sadly, this isn't visible on the Storybook where you probably took

[2021-01-27 10:17] alfredone270895 commented on #2691
ok perfect is working, thanks for support. yours component are really awesome.

[2021-01-27 10:17] #2691 closed

[2021-02-20 04:15] gineyi5089 opened #2756 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-20 04:18] jenomoy630 opened #2757 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-20 04:18] jenomoy630 opened #2758 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-20 04:20] mepora5475 opened #2759 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-20 04:23] xekax87686 opened #2760 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-20 04:27] tarapa2202 opened #2761 "GIVE ME REFUND"
Booking number: 118 094 504

It's been more than half a year since I applied for refund and I still haven't received anything.

[2021-02-21 03:26] give-me-refund opened #2762 "KIWI.COM, YOU STILL OWE ME A REFUND"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:30] give-me-refund opened #2763 "KIWI.COM, YOU STILL OWE ME A REFUND"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:42] batod72138 opened #2765 "Hi Kiwi, I like the chatbot you're using for customer support. Could you open source them?"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:45] fosabe6844 opened #2766 "The speed of refund-processing system is slower than expected"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:47] jijineb459 opened #2767 "Website usage issue"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:53] josad24927 opened #2768 "Accordion not opening"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 03:57] neliw opened #2769 "Transaltion always fallback to default"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 04:02] milovass opened #2770 "InputField placeholder not rendering Translation"
# Booking numbers: 118 094 504 & 118 184 957.

Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img width="533" alt="1" src="https://user-images.githubusercont

[2021-02-21 06:02] cosomop opened #2771 "DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM! DO NOT BUT TICKETS ON KIWI.COM!"
# Booking numbers: 118 094 504 & 118 184 957.
Sorry for posting unrelated stuff here, but this is from an extremely disappointed customer who has been begging Kiwi.com's customer service for a refund for **half a year** and still hasn't received **anything**.

Look at what Kiwi.com's people reply whenever I ask for a status update:

<img alt="1" width="533" src="https://user-images.githubuserconte

[2021-02-25 17:50] mapsgeek opened #2780 "Datepicker and pricing/departure table"
**Is your feature request related to a problem? Please describe.**

Having a datepicker is crucial for any travelling/booking app, do you have any plans for adding that?
also the component pricing table is quite deceiving to me, that's because i expected to find
the pricing table from kiwi.com results page but instead i find the docs showing a generic 3 column layout to show product plans, this co

[2021-03-02 00:54] mapsgeek opened #2789 "bug: useMediaQuery doesn't clean up after itself"
**Is your feature request related to a problem? Please describe.**

useMediaQuery hook breaks SSR on nextjs, producing mismatch errors and unexpected rendering

**Describe the solution you'd like**
i'm very beginner in react but with some search i found this answer here
_Originally posted by @lfades in https://github.com/vercel/next.js/discussions/17443#discussioncomment-87097_

so i used react us

[2021-03-05 08:55] CollierCZ commented on #2780
Hi. We have a public roadmap of what we're planning on working on: https://orbit.kiwi/roadmap/. I'd say that at this time, a date picker and the price table aren't in the near-term plans. We're currently developing components for itineraries. The PricingTable component that we currently have will likely be deprecated.

[2021-03-05 09:04] CollierCZ commented on #2632
Could you describe your use case a little more? Modal footers are generally where actions are held, so it makes sense to keep them fixed and accessible. What is in the header that you would like to keep fixed?

[2021-03-05 09:54] CollierCZ commented on #2789
What result would you expect from `useMediaQuery` in SSR? You can use `useEffect` or read about [other approaches](https://material-ui.com/components/use-media-query/#server-side-rendering), but as it notes there, SSR and client-side queries aren't so compatible.

[2021-03-05 18:16] mapsgeek commented on #2789
when i use `useMediaQuery` directly from `@orbit` i get mismatch error and the rendering of components gets missed up
so i did use a wrapper in `useEffect` as i show in code above but either with the wrapper or the native `useMediaQuery` i know get
`Can't perform a React state update on an unmounted component.` on routing change and tried many work arounds i found on search like adding `isMounted`

[2021-03-06 06:55] skmohammadi commented on #2632
Hi. It seems the problem is solved. thanks

[2021-03-06 06:56] #2632 closed

[2021-03-06 16:26] #2780 closed

[2021-03-08 22:33] mapsgeek commented on #2789
the issue is apparently in the `useMediaQuery` hook, regardless of the SSR compatibility, the usage of the hook in a `Navbar` component on a route then moving to another page that doesn't have access or use the `Navbar` doesn't stop the hook from being called causing the warning `Can't perform a React state update on an unmounted component.`

using this hook [use-media](https://github.com/streamic

[2021-03-10 13:18] CollierCZ commented on #2789
I totally understand the difficulties of being a beginner and not knowing whether the error is coming from what you did or a specific library. I'm going to reopen the issue, because that new issue seems like a bug in the hook. Thanks for the report and the clear reproduction. We'll be looking into it so I hope we'll get a fix.

[2021-03-10 13:31] CollierCZ commented on #2789
And I think we determined the source: https://github.com/kiwicom/orbit/blob/master/packages/orbit-components/src/ThemeProvider/QueryContext/useMediaQueryContext.js#L68 We were adding a listener instead of removing it. 🤦 Should be a fix out soon. Thanks again for your help!

[2021-03-10 13:34] mapsgeek commented on #2789
thank you for your patience, i wish if i could've caught that myself :)

[2021-03-10 14:21] #2789 closed

[2021-03-10 14:21] silvenon commented on #2789
@mapsgeek let us know if it works after we release this 😃

[2021-03-15 17:09] #2318 closed

[2021-03-25 08:53] straxico opened #2853 "textlink onClick when stopPropagation call two time"
textlink onClick when stopPropagation enable call two time

need use else

[code]
https://github.com/kiwicom/orbit/blob/7b1152bb9372d9ab2824000c59e9181ce9a9f65d/packages/orbit-components/src/TextLink/index.js#L124

[2021-03-25 08:57] vepor commented on #2853
You're right @straxico, thanks for the bug report! 🙂

Let me prepare a quick fix for this 💪

[2021-03-27 12:00] #2853 closed

[2021-03-27 20:45] pierceglennie opened #2858 "Support for React 17"
**Is your feature request related to a problem? Please describe.**
Using Orbit is stopping us from upgrading to React 17 (using npm 7) since it has a peer dependency on React ^16.14.0

**Describe the solution you'd like**
Update peer dependency to allow React 17. React 17 has minimal breaking changes so my guess is that this would not require big changes.

[2021-04-09 12:08] mainframev commented on #2858
hi @pierceglennie

We glad that you use orbit. My apologies for the delayed response, we had other prios. We will update it most likely next week :)

[2021-04-09 16:21] pierceglennie commented on #2858
Thanks, it's been really helpful so far – saves us reinventing the wheel. In case you're interested we're using it at www.ember.to (electric bus service). And thanks for the update on React 17 support

[2021-04-14 03:35] jeepers3327 opened #2887 "Accessing theme object in nextjs typescript"
Hi, I'm not sure if this is the correct place for this one, I'm wondering if how can I access the `theme.orbit` property inside a `createGlobalStyle` method.

I followed the working example in this [repo](https://github.com/vercel/next.js/tree/canary/examples/with-orbit-components) but using typescript.

I had my `_app.tsx` like below
[code]

but on this line `background-color: ${({ theme }) => th

[2021-04-19 20:39] silvenon commented on #2858
React 17 update has been merged, it will be available in the next release. 😃

[2021-04-19 20:39] #2858 closed

[2021-04-19 21:56] pierceglennie commented on #2858
Nice one, thanks

[2021-04-20 10:22] CollierCZ commented on #2887
The issue seems to be with how you're calling the tokens.

That repo had a way that works with the theme:
[code]
This adds the default tokens to the theme.

You're trying to import default tokens from `orbit-components` and it's not there directly.

Alternatively, if you don't want to modify the theme and just want to use the values, you can install `@kiwicom/orbit-design-tokens` directly, and the

[2021-04-20 10:28] CollierCZ commented on #2887
Your code works for me when I bootstrap the example repo with create-react-app. Do you have a repo with a full replication?

[2021-04-20 10:29] CollierCZ commented on #2887
Your code works for me when I bootstrap the example repo with create-react-app. Do you have a repo with a full reproduction?

[2021-04-20 10:58] jeepers3327 commented on #2887
Thank you for confirming it on your end. I created a sandbox to reproduce the issue: [here](https://codesandbox.io/s/silly-flower-tz05u?file=/src/pages/_app.tsx).

[2021-04-20 17:38] CollierCZ commented on #2887
In that sandbox, the background color seems to be applied and the only warning I see is about `defaultTokens` not being used. It uses a different method of invoking the tokens than you used in the original post here (using `getTokens` instead of `defaultTokens` for the theme -- you could also use `getTokens` from `@kiwicom/orbit-components` [instead of `design-tokens`, though it's really the same]

[2021-04-21 00:47] jeepers3327 commented on #2887
It seems that the type warning regarding this line `  background-color: ${({ theme }) => theme.orbit.paletteCloudLight};` is minor, with that I'd like to close this issue.

My apologies for taking your time on this one.

[2021-04-21 00:47] #2887 closed

[2021-04-26 02:56] mapsgeek opened #2906 "Add option to navigation bar to not hide on scroll"
**Is your feature request related to a problem? Please describe.**
I'm trying to not hide the Navbar on scroll but i'm not sure if this can be achieved with the `onHide` prop

**Describe the solution you'd like**
pass a prop `scrollHide={true/false}` and this would control the option to make it hide or not"
or provide an example on how to do that using the current props.

[2021-06-15 08:16] acqsk commented on #902
I think, changing color is not a good idea in case of inputs with floating labels... ...and I don§t know, hot to override the background and make it transparent...

// Not works...
div input[data-com-onepassword-filled="light"] { background-color: initial !important; }

// Stronger definitions also not works...
body {
  input.k-textbox[data-com-onepassword-filled="light"], select.k-textbox[data-co

[2021-07-29 13:53] oreqizer opened #3054 "Broken SSR"
https://github.com/kiwicom/orbit/blob/a8ef089ef53cb0c53f88a7b3e385249f8988903f/packages/orbit-components/src/Card/CardSection/index.js#L87

this breaks SSR, yo

use `react-uid`

[2021-07-29 20:00] silvenon commented on #3054
It seems like we should replace all usage of `randomID` with `react-uid`, correct?

[2021-08-14 02:24] YairTavizon opened #3073 "Add "align" prop to heading component."
**Is your feature request related to a problem? Please describe.**
Well since the <Text/> component has an "align" prop it would make sense to allow headings to do the same thing. Currently, we would need to use a parent container centering the Heading if needed.

**Describe the solution you'd like**
The styled Text component has a prop called align... we would need to add that property to the hea

[2021-08-14 02:48] YairTavizon opened #3074 "Media query hook not working on initial render."
When importing the media queries states like here: https://orbit.kiwi/utilities/usemediaquery/ the "isLargeMobile" state initializes as "falsy" so when I try to use it in the template before the render it is always "falsy"

For example, trying to replicate this example from: https://orbit.kiwi/components/navigationbar/ the JUSTIFY ternary evaluation always returns falsy so the stack is aligned sta

[2021-08-14 13:11] mainframev commented on #3074
@YairTavizon

Thanks for the proposal, we are aware of this issue.
It's an SSR issue and it has to be rendered twice I guess, in order to make it work with SSR. We will have to update the hook, to add SSR support ;)

[2021-08-16 11:11] CollierCZ opened #3075 "docs: some Figma iframes require logging in"
The idea to have text separate from Figma images seems like potentially a nice one, but the iframe for the [badge content structure](https://beta.orbit.kiwi/components/information/badge/#content-structure) requires me to be logged in to view.

[2021-08-17 08:27] silvenon commented on #3075
What are you referring to here exactly? This part?

[2021-08-17 08:40] williamkolmacka commented on #3075
@CollierCZ we will probably export only images from the Figma instead of Figma frames here, as there is a problem with showing the content on 100% of its real size + as you mentioned, it's a bit difficult to have these files publicly accessible. Thanks for the feedback 👍

[2021-08-17 08:46] silvenon commented on #3073
Thanks for the suggestion, we will most probably add the "align" prop. 👍

[2021-08-17 14:12] CollierCZ commented on #3075
@silvenon

Yes, that part. I don't know what it actually looks like, because I'm not in Figma, but I assume it's something like in [Carbon](https://www.carbondesignsystem.com/components/accordion/usage/#anatomy).

@williamkolmacka, sounds good 👍

[2021-10-06 16:40] #3054 closed

[2021-10-06 16:40] mainframev commented on #3054
#3055 resolved this

[2021-10-06 16:47] mainframev commented on #2378
👋🏻

hi :)

preferredAlign and preferredPosition props are no more existing in Popover. They were replaced by placement property in #3046. Now our Popover uses Popper. And you can read about offset and placement in their documentation

[2021-10-06 16:51] #2378 closed

[2021-10-12 16:13] mainframev commented on #3073
solved in #3141

[2021-11-02 09:26] #3074 closed

[2021-11-27 06:21] ross-weir commented on #3075
This looks like it might be a problem again, there's a number of these in the docs for me currently:

<img width="903" alt="orbit-figma-login" src="https://user-images.githubusercontent.com/29697678/143670619-f67403f0-31ec-4301-a9e5-b36cd822849c.PNG">

Logging in doesn't allow me to view so they might be private ones

[2021-12-01 13:58] silvenon commented on #3075
@ross-weir thanks for reporting, we'll discuss what we can do.

[2021-12-01 15:15] silvenon commented on #3075
We fixed it by making the Figma file public 🚀 Let us know if you find more closed ones.

[2021-12-01 15:15] #3075 closed

[2021-12-01 15:17] CollierCZ commented on #3075
@silvenon , there are three on the Button page alone (was just looking at it): https://orbit.kiwi/components/action/button/

[2021-12-01 16:41] silvenon commented on #3075
Fixed!

[2021-12-07 21:15] hrach commented on #2244
I've just realized that the auto-updated zip can be found here: https://unpkg.com/@kiwicom/orbit-components%40latest/orbit-svgs.zip That's good enough for me :)

[2021-12-07 21:15] #2244 closed

[2021-12-15 01:49] mapsgeek commented on #2642
I have the same thing, anything with `z-index:1` will just overlay the modal

[2021-12-15 01:57] mapsgeek opened #3220 "Prevent drawer overlay close"
Provide drawer preventOverlayClose prop like the Modal component
Provide drawer hideOverlay prop

helps having a stay on screen side panel for extra side operations while not covering
the rest of page or prevent access to it.

[2021-12-15 09:38] silvenon commented on #3220
Hi, sounds like a sensible feature to have, to improve consistency. 👌  @mainframev?

[2021-12-15 17:24] silvenon commented on #2642
@mapsgeek we would highly appreciate some source code, preferably a demo in CodeSandbox or something 🙏 Modal has a `z-index` of 800 currently, so I think there's something else going on in your code. Messing with `z-index` is generally an anti-pattern because the z-order can also be controlled with HTML order, which is a highly recommended alternative. Also, just in case you missed it, Modals shou

[2021-12-15 17:24] #2642 closed

[2021-12-15 17:49] mapsgeek commented on #2642
@silvenon totally understandable, maybe it's a wrong implementation and i will try to reorder the components and use the portal component to get around it and will provide a sandbox if necessary.
thanks

[2021-12-16 23:25] mapsgeek commented on #3220
@silvenon I've a question, the current drawer doesn't close on outside click if you don't pass an `onClick` prop
and control it via the ` shown={showDrawer}` instead, this way you can have control on what opens and closes it
but i'm trying to hide the overlay background which isn't accessible because the component has no `className` prop
i've tried to extend it with `cloneElement` but i failed may

[2021-12-17 03:16] mapsgeek commented on #2642
Using the [Portal ](https://orbit.kiwi/components/utility/portal/) component to wrap the modal resolved the z-index issues.

[2021-12-17 07:33] silvenon commented on #3220
So you want to have the Drawer open but without the overlay? For what purpose?

[2021-12-18 08:25] mapsgeek commented on #3220
Yes, we have a main Map component and need the drawer as a side panel for extra operations, so we need the drawer to stay open and not get closed when you click outside ( so the user can interact with the map ), sorry I found that not providing an `onClose` not an `onClick` can make it stay opened but the dark overlay covers and prevents interactions with the map and i can't extend the drawer comp

[2021-12-19 16:38] silvenon commented on #3220
Ah, got it! Seems like a reasonable feature, we'll think about how to implement it, I suppose `overlay={false}` should be fine.

[2021-12-19 16:49] silvenon commented on #3220
However, no promises yet, Drawer is a component that covers part of the content, so arguably it might be a little odd to remove that overlay.

[2021-12-21 10:09] silvenon commented on #3220
Hey, I discussed this from the UX perspective with the design team, and they pointed out the same usability problem. It would be best for you to create a separate Sidebar component, feel free to reuse Drawer's code for this, since it's licensed under MIT. 😉

[2021-12-21 10:09] #3220 closed

[2022-01-14 08:28] OndrejAndrysek opened #3237 "Placeholder colours on iOS are not unified"
**Is your feature request related to a problem? Please describe.**
InputField and Select have different placeholder colours on iOS and none of them are inkLight.

**Describe the solution you'd like**
Placeholders will have inkLight colour.

**Describe alternatives you've considered**
An easy way of setting placeholder colours in init

<img width="329" alt="Screenshot 2022-01-13 at 18 15 08" src="h

[2022-02-10 19:56] pierceglennie opened #3279 "Padding right added to body when modal opened"
Great to see the recent updates. However, we've come across a bug with modals when upgrading from version 0.122.0 to 2.13.0.

When a modal is opened, it adds `padding-right: 15px` to the body element – i.e. the background content gets a small bit of right padding. This happens when using the plain modal component not in a <Portal> or similar.

We've solved the issue by overriding body with `paddin

[2022-02-10 20:41] pierceglennie opened #3280 "Add option for drop down with only an icon"
We're building a phone number input which has a dropdown for the country and then an input field for the text. This is all within an `<InputGroup>` component.

See below for what the field currently looks like:

<img width="340" alt="Screenshot 2022-02-10 at 20 22 14" src="https://user-images.githubusercontent.com/8105776/153490365-178e6cfc-3ece-4eb1-a07d-fff51bc50051.png">

We'd like to remove th

[2022-02-11 12:25] mainframev commented on #2906
Hi, I will add a new prop `hideOnScroll` which you will have to set explicitly to `false`. ;)

[2022-02-15 11:55] mainframev commented on #2906
solved in #3282

[2022-02-15 11:56] #2906 closed

[2022-02-21 17:43] pierceglennie commented on #3279
Thanks, that fixes it.

[2022-02-21 17:43] #3279 closed

[2022-03-12 18:11] kouloughli-hemza opened #3308 "Possibility to set timeline direction"
**Is your feature request related to a problem? Please describe.**
Currently, the timeline in Desktop view is in rows, and when we have a lot of TimelineStep it gets messy .

**Describe the solution you'd like**
 I would like to show the mobile style of timeline on desktop view.

[2022-04-20 11:11] KevinRohn opened #3338 "available `icon list` is broken"
The list of available icons is broken.
On the page https://orbit.kiwi/components/visuals/icon/react/, the link [the list of all icons](https://kiwicom.github.io/orbit/?selectedKind=Icon&selectedStory=List%20of%20all%20icons) redirects to the [storybook icon page](https://kiwicom.github.io/orbit/?selectedKind=Icon&selectedStory=List%20of%20all%20icons), which doesn`t show the icon list.

## Expecte

[2022-04-25 14:11] mainframev commented on #1153
Solved already in #2956

[2022-04-25 14:11] #1153 closed

[2022-04-25 14:23] #1007 closed

[2022-04-25 14:34] #856 closed

[2022-05-02 09:55] KevinRohn commented on #3338
Thanks!

[2022-05-03 04:55] rafaelfaria commented on #902
Any updates on this? I am having the same issues, without a way to override the ones 1password uses (i wish this was optional)

[2022-05-23 08:40] bob606 opened #3366 "ThemeProvider doesn't pass down dictionary prop properly"
## Expected Behavior
When wrapping components with a `@kiwicom/orbit-components/lib/ThemeProvider` all children should use the language passed in the `dictionary` prop. This would be the same behavior which is already working for the `theme` prop.

## Current Behavior
You have to directly wrap a component (e.g. a Wizard) in order for the dictionary to be applied.
[code]
## Possible Solution
The `T

[2022-05-28 23:06] kouloughli-hemza commented on #3366
can you show me your implementation?
are you using useTranslate or Translate ?

[2022-05-30 08:34] mainframev commented on #3308
Hi @kouloughli-hemza
Yep, we will adjust the behavior for desktop 👍🏻

[2022-06-01 23:26] mainframev commented on #3308
solved in #3382

[2022-06-01 23:26] #3308 closed

[2022-07-07 08:23] MarioAtSirka opened #3435 "How to integrate using Rollup with orbit-components as the dependency?"
**Is your feature request related to a problem? Please describe.**
Hi, me and my team are trying to build a design system like this also. But, there are a few components that we find are quite painful to build from scratch. Thus, we've been trying to explore our options as our 'base' component library. We find that since our product designers use orbit as a benchmark, we figure why not we use you

[2022-07-09 12:34] MarioAtSirka commented on #3435
It works wonderfully, thank you so muchhh loll @mainframev!

I wonder why though? Because according to the styled-components documentation, it said that it's recommended to be put in the `external` field?
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/93510602/178105935-4da75655-1683-421a-9fbf-51d8235802c4.png">

Is there a reason of why, because we use orbit, require

[2022-07-14 12:37] mainframev commented on #3435
I'm glad that it helped you.

You do not have to have it as a dependency, because you are also working on a component library. So it has to be a peer dependency. So I guess it's the problem only for development, that rollup does not build a storybook with styled components 👍🏻

[2022-07-27 09:19] mvidalgarcia opened #3542 "Search shortcut (⌘ + K) doesn't work properly on FF"
From Firefox browser, the search shortcut (⌘ + K) on orbit.kiwi [opens the browser address bar with the Default search engine](https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly).

## Expected Behavior

It should ignore the Firefox shortcut and just use the Orbit one. Other websites such as https://tailwindcss.com/ manage it properly, so it should be feasible.

#

[2022-07-27 12:00] mainframev commented on #3542
@mvidalgarcia  👋🏻  thanks, we are already aware of it, just did not have time to fix that. There are other options, like on the screenshot below
![Screenshot 2022-07-27 at 13 59 20](https://user-images.githubusercontent.com/14054752/181241549-d1a496a0-4008-40ad-a193-4c5455d0e5d5.png)

[2022-07-27 14:11] mainframev commented on #3542
@mvidalgarcia oh, sorry, I meant options to add, currently cmd + shift is not added. This screenshot is from GitHub because they have a similar issue with FF. So I will add cmd + shift + k. and maybe some fallback for Edge 🤔

[2022-08-08 11:48] mvidalgarcia commented on #3542
I see this is implemented, thanks!
Closing it...

[2022-08-08 11:48] #3542 closed

[2022-08-22 10:37] pierceglennie opened #3561 "Accordion Component Broken in Latest Version"
## Expected Behavior

The accordion component should open on click when set up correctly (e.g. as outlined in [this post](https://github.com/kiwicom/orbit/issues/2691)). This was working correctly for us previously but has become broken in one of the recent versions (over past couple of months).

I have tried implementing the simple example from that old issue to confirm it's not something specifi

[2022-08-28 17:24] marcnewport commented on #2887
Super late response, but if anyone else lands here - to access the theme object (vs code intellisense) you can pass the theme as a type arg to `createGlobalStyle`.

[code]

You'll also want to declare the default theme for styled components to access it in your component files - see [styled-components docs](https://styled-components.com/docs/api#create-a-declarations-file) I'm using nextjs and do

[2022-10-18 16:17] #3561 closed

[2022-11-03 12:48] #1383 closed

[2022-11-03 12:49] mainframev commented on #1906
Sticky component is deprecated and will be removed in the next release.

[2022-11-03 12:49] #1906 closed